In [20]:
import pandas as pd
df1=pd.read_csv('world.csv')
pd.to_datetime(df1['日期'])
df2=df1[['洲名','國家','日期','總確診數','新增確診數']]
df3=df2.sort_values(by='新增確診數',ascending=False)
df3.iloc[:5]
df4=df3.query('國家=="台灣"')
df4[:5]

        洲名  國家          日期     總確診數   新增確診數
164835  亞洲  台灣  2022-05-14   699824  128954
164830  亞洲  台灣  2022-05-09   397504  128935
164848  亞洲  台灣  2022-05-27  1735067   94796
164840  亞洲  台灣  2022-05-19  1070561   89420
164846  亞洲  台灣  2022-05-25  1558380   89361

In [18]:
df3.set_index("日期")

             洲名       國家       總確診數    新增確診數
日期
2022-01-19   全球       全球  339436230  4080568
2022-01-21   全球       全球  347005476  3836622
2022-01-18   全球       全球  335355662  3760792
2022-01-26   全球       全球  363072962  3759476
2022-01-20   全球       全球  343168854  3732624
...         ...      ...        ...      ...
2021-03-20  北美洲     聖露西亞       4113        0
2021-03-27  北美洲     聖露西亞       4191        0
2021-03-28  北美洲     聖露西亞       4191        0
2021-02-27  北美洲     聖露西亞       3356        0
2021-09-22  大洋洲  法屬玻里尼西亞      40178        0

[187885 rows x 4 columns]